img {
    width: 400px;
}
#thirdDiv {
    height: 600px;
    width: 500px;
    border: 3px;
    border-color: chartreuse;
    border-style: groove;
    padding: 50px;
    background-color: burlywood;
}
#spanID {
    font-size: 25px;
    margin: 50px;
}
h1 {
    color: blueviolet;
}
img {
    width: 400px;

}
div {
    display:flex;
    justify-content: center;
}
html {
    background-image: url("https://barrabrava.net/img/barras-bravas/la-barra-de-la-bomba-union-de-santa-fe/la-barra-de-la-bomba-union-de-santa-fe-31-141310-barrabrava-net.jpg");
}